@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, @User.Identity.Name!</h1>
    <hr />
    <img src="https://media.istockphoto.com/id/1188079953/vector/flame-icon-in-cartoon-style-illustration-of-a-burning-bonfire-flame-isolated-on-a-white.jpg?s=170667a&w=0&k=20&c=MBTHL2ZQaTP3NSGfGpmHsDTwbknoImRizfiLQMU1fDo=" width="35%">
    <p align="justify">
        <i>Расчет горения топлива</i> позволяет определить характеристики его качества (теплота сгорания, теоретическая температура горения),
        оценить количество воздуха, необходимое для его сжигания в различных условиях, определить состав и количество отходящих газов.
        Полученные данные могут быть использованы при выборе топливосжигающих устройств, расчете теп-лового баланса печей, оценке влияния дымовых газов на окружающую среду.
    </p>
</div>
